<launch>

	<include file="$(find kobot)/launch/move.launch"/>
	<include file="$(find kobot)/launch/filtered_imu.launch"/>
	<include file="$(find kobot)/launch/heading.launch"/>

	<rosparam command="load" file="$(find kobot)/config/alignment.yml" />

	<node pkg="kobot" name="vis_flocking" type="vis_flocking.py"/>
	<node pkg="kobot" name="flocking" type="flocking.py"/>

</launch>