<launch>

	<!-- <rosparam command="load" file="$(find kobot)/config/flocking_rps.yml" /> -->
	<include file="$(find kobot)/launch/move.launch"/>
	<include file="$(find kobot)/launch/filtered_imu.launch"/>
	<include file="$(find kobot)/launch/heading.launch"/>


	<!-- <node pkg="kobot" name="flocking" type="flocking_rps.py"/> -->

</launch>