<launch>
    <arg name="enable_raw" default="true"/>
    <arg name="enable_imv" default="false"/>
    <arg name="camera_id" default="0"/>
    <arg name="camera_frame_id" default="cam_link"/>
    <arg name="camera_name" default="raspicam"/>

    <!-- <node pkg="tf" type="static_transform_publisher" name="cam_link_broadcaster" args="0.06 0 0.074 0.5 0.5 0.5 0.5 base_link cam_link" /> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="cam_link_broadcaster" args="0 0 0 0 0 0 1 cam_link raspicam" /> -->
    <node type="raspicam_node" pkg="raspicam_node" name="raspicam_node" output="screen">
        <param name="private_topics" value="true"/>
        <param name="enable_raw" value="true"/>

        <param name="camera_name" value="$(arg camera_name)"/>
        <param name="width" value="640"/>
        <param name="height" value="480"/>
        <param name="framerate" value="2"/>
        <param name="exposure_mode" value="antishake"/>
        <param name="shutter_speed" value="0"/>
    </node>
    <node pkg="kobot" name="camera_calibrator" type="calibrate_camera.py" output="screen"/>
</launch>